
.scrollDownContainer{
    position: relative;
    margin: 0 auto;
    animation: jump 1.5s infinite ease-in-out;
    text-align: center;
    cursor: pointer;
}
.scrollDownText {
    color: white;
    text-align: center;

}
@-webkit-keyframes jump {
    0% { top: 0px; }
    50% { top: 25px; } 
    100% { top: 0px; } 
}
@-ms-keyframes jump {
    0% { top: 0px; }
    50% { top: 25px; } 
    100% { top: 0px; } 
}
@keyframes jump {
    0% { top: 0px; }
    50% { top: 25px; } 
    100% { top: 0px; } 
}